@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    margin-bottom: 50px;
    background-color: rgba(95, 186, 126, .1);
    overflow-x: hidden;
}

.name {
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
}
main {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    margin-top: 20px;

}

h5 {
    font-family: 'Montserrat', sans-serif
}
section {
    margin-top: 2rem;
}

.heading {
    background-color: rgba(48, 39, 49, .7);
}


#hire {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;

}

#hire a {
    color: white;
}

.point {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding-top: 14px;
    text-decoration: none;
  }

.card-img-top {
      height: 200px;
  }

#prevExp {
    color: white;
}

#experience {
    padding: 20px;
}

#education {
    padding: 20px;
}



  .copyright {
      position: sticky;
      margin-bottom: -20px;
      width: 100%;
      margin-top: 20px;
      padding-top: 10px;
      margin-bottom: 0;
  }

  .primary-color {
      background-color: #5FBA7D;
  }

  #primary {
      color: #5FBA7D;
      font-weight: 800;
      
  }

  .secondary-color {
      background-color: #8CD4A4;
  }

  .btn-color {
    background-color: #588772;
  }

#more {
    font-size: .8rem;
    color: #111111;
}

.typewriter{
    overflow: hidden; 
    border-right: .15em solid #BF9F62;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }


  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    img {
        width: 100%;
    }

    

      #hire {
        bottom: 500px;
        right: 80px;
    }

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    img {
        height: 100%;
    }

    #hire {
        bottom: 500px;
        right: 0;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 43% }
      }


      
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    img {
        height: 90vh;
    }

    #contact {
        margin-right: 1px;
        padding-right: 30px;
        padding-left: 30px;
    }

    
}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    img {
        height: 90vh;
    }

    .typewriter{
        overflow: hidden; 
        border-right: .15em solid #BF9F62;
        white-space: nowrap; 
        margin: 0 auto;
        letter-spacing: .15em;
        animation: 
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
      }

      @keyframes typing {
        from { width: 0 }
        to { width: 32% }
      }
      

}
